<!DOCTYPE html>
<html>
<head><title>Modifica</title></head>
<body>
    <form th:action="@{|/update/${user.id}|}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" th:value="${user.nome}" required>
    
        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" name="cognome" th:value="${user.cognome}" required>
    
        <label for="eta">Età:</label>
        <input type="text" id="eta" name="eta" th:value="${user.eta}" required>
    
        <button type="submit">Salva modifiche</button>
    </form>    
</body>
</html>

<!-- action="/update/${user.id}" -->