<!DOCTYPE html>
<html>
<head><title>Lista Persone</title></head>
<body>
    <h1>Lista delle persone</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Età</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "persona: ${persone}">
                <td th:text="${persona.id}" style="width: 50px; text-align: center;"></td>
                <td th:text="${persona.nome}" style="width: 50px; text-align: center;"></td>
                <td th:text="${persona.cognome}" style="width: 50px; text-align: center;"></td>
                <td th:text="${persona.eta}" style="width: 50px; text-align: center;"></td>
                <td>
                    <a th:href="@{|/edit/${persona.id}|}" style="font-size: 7;">Modifica</a>
                </td>
            </tr>
        </tbody>
    </table>  
</body>
</html>