<!DOCTYPE html>
<html>
<head>
    <title>Modifica</title>
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</head>
<body>
    <h1>Modifica</h1>
    <form th:action="@{|/update/${user.id}|}" method="POST">
        <p>Nome:<input type="text" id="nome" name="nome" th:value="${user.nome}" required></p>
    
        <p>Cognome:<input type="text" id="cognome" name="cognome" th:value="${user.cognome}" required></p>
    
        <p>Età:<input type="text" id="eta" name="eta" th:value="${user.eta}" required></p>
    
        <button class="btn waves-effect waves-light" type="submit">
            <i class="material-icons">done</i>
        </button>
    </form>
    <script type="text/javascript" src="js/materialize.min.js"></script>    
</body>
</html>

<!-- action="/update/${user.id}" -->