<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Login</title>
</head>
<body>
    <h1>Inserire le credenziali</h1>
    <form action="/" method="post">
        <div class= "row">
            <div class="input-field col s6">
                <input type="text" id="username" name="username" class="validate" required>
                <label for="username">Username</label>
            </div>
        </div>
        <div class= "row">
            <div class="input-field col s6">
                <input type="password" id="password" name="password" class="validate" required>
                <label for="password">Password</label>
                <p>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Accedi
                    <i class="material-icons right">arrow_forward</i>
                    </button>
                </p>
            </div>
        </div>
        <div th:if="${error}" style="color: red;" class="row">
            <div class="input-field col s6">
                <p th:text="${error}"></p>
            </div>  
        </div>
        <div th:unless="${error}">
            <a href="/list"></a>
        </div>
    </form>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>